html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: rgba(255, 255, 255, 1);                 /* hsl(0 0% 100%) */
    --foreground: rgba(9, 10, 13, 1);                     /* hsl(222.2 84% 4.9%) */
    --card: rgba(255, 255, 255, 1);
    --card-foreground: rgba(9, 10, 13, 1);
    --popover: rgba(255, 255, 255, 1);
    --popover-foreground: rgba(9, 10, 13, 1);
    --primary: rgba(15, 23, 35, 1);                       /* hsl(222.2 47.4% 11.2%) */
    --primary-foreground: rgba(250, 250, 250, 1);         /* hsl(210 40% 98%) */
    --secondary: rgba(241, 245, 249, 1);                  /* hsl(210 40% 96.1%) */
    --secondary-foreground: rgba(15, 23, 35, 1);
    --muted: rgba(241, 245, 249, 1);
    --muted-foreground: rgba(109, 113, 122, 1);           /* hsl(215.4 16.3% 46.9%) */
    --accent: rgba(241, 245, 249, 1);
    --accent-foreground: rgba(15, 23, 35, 1);
    --destructive: rgba(255, 71, 84, 1);                  /* hsl(0 84.2% 60.2%) */
    --destructive-foreground: rgba(250, 250, 250, 1);
    --border: rgba(226, 232, 240, 1);                     /* hsl(214.3 31.8% 91.4%) */
    --input: rgba(226, 232, 240, 1);
    --ring: rgba(9, 10, 13, 1);
    --chart-1: rgba(255, 125, 67, 1);                     /* hsl(12 76% 61%) */
    --chart-2: rgba(63, 191, 168, 1);                     /* hsl(173 58% 39%) */
    --chart-3: rgba(55, 84, 104, 1);                      /* hsl(197 37% 24%) */
    --chart-4: rgba(255, 192, 104, 1);                    /* hsl(43 74% 66%) */
    --chart-5: rgba(255, 179, 116, 1);                    /* hsl(27 87% 67%) */
    --radius: 0.5rem;
  }
  .dark {
    --background: rgba(9, 10, 13, 1);
    --foreground: rgba(250, 250, 250, 1);
    --card: rgba(9, 10, 13, 1);
    --card-foreground: rgba(250, 250, 250, 1);
    --popover: rgba(9, 10, 13, 1);
    --popover-foreground: rgba(250, 250, 250, 1);
    --primary: rgba(250, 250, 250, 1);
    --primary-foreground: rgba(15, 23, 35, 1);
    --secondary: rgba(30, 41, 59, 1);                     /* hsl(217.2 32.6% 17.5%) */
    --secondary-foreground: rgba(250, 250, 250, 1);
    --muted: rgba(30, 41, 59, 1);
    --muted-foreground: rgba(156, 163, 175, 1);           /* hsl(215 20.2% 65.1%) */
    --accent: rgba(30, 41, 59, 1);
    --accent-foreground: rgba(250, 250, 250, 1);
    --destructive: rgba(110, 38, 38, 1);                  /* hsl(0 62.8% 30.6%) */
    --destructive-foreground: rgba(250, 250, 250, 1);
    --border: rgba(30, 41, 59, 1);
    --input: rgba(30, 41, 59, 1);
    --ring: rgba(202, 211, 255, 1);                       /* hsl(212.7 26.8% 83.9%) */
    --chart-1: rgba(88, 139, 255, 1);                     /* hsl(220 70% 50%) */
    --chart-2: rgba(77, 204, 153, 1);                     /* hsl(160 60% 45%) */
    --chart-3: rgba(255, 153, 77, 1);                     /* hsl(30 80% 55%) */
    --chart-4: rgba(204, 128, 255, 1);                    /* hsl(280 65% 60%) */
    --chart-5: rgba(255, 102, 153, 1); 
    --radius: 0.5rem;      
  }
}
